.LogInfo {
    display: flex;
    margin-bottom: 1%;
}
  
.LogInfo-chart {
    flex: 1;
    width: 35%;
    height: 225px;
    background-color: white;
    box-shadow: 0px 0px 1px grey;
    border-radius:5px;
  }

.LogInfo-chart:first-child {
    margin-right: 1%;
}

  
